OPENAI_API_KEY=
SUPABASE_URL=https://mnvcgtjbdywrenmnktem.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_y6LSLrX_M3mfohc69EYtKg_gQuIKEdu
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
UPWORK_CLIENT_ID=
UPWORK_CLIENT_SECRET=
